@model IEnumerable<TrainingManagement.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TrainerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseDesc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category.CateName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrainerId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseDesc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CateName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CourseId }) |
                            
                        </td>
                    </tr>
                }

            </table>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>